@keyframes width{
    from { width:80%; min-width: 750px; }
    to { width:45%; min-width: 300px;}
}
@keyframes fade{
	from { opacity: 1; }
	to { opacity: 0; }
}
@keyframes reel-it{
	from {
		width: 0;
		height: 0;
		margin-top: 150px;
	}
	to{
		width: 280px;
		height: 280px;
		margin-top: 0;
	}
}
@keyframes spin { 100% { transform:rotate(360deg); } }
.reel-in-bounce{
	animation: reel-it 800ms forwards;
	animation-timing-function: cubic-bezier(0.25,0.1,0.25,1.5);
	animation-delay: 400ms;
}