footer{
	background: #e4e4e4;
	color:#818285;
	.contact{
		.contact-item{
			i.contact-icon{
				color: @theme-main;
				font-size: (@basic-font-size * 2);
				float: right;
			}
			.top-marg{
				margin-top: (@baseline * 2);
			}
			form{

				label.input-group-addon{
					background-color: #fff;
					border-right: 0px;
					color: #bfbfbf;
					:placeholder-shown{
						color: #bfbfbf;
					}
					&+.form-control{
						border-left: 0px;
						color: #bfbfbf;
					}
				}
				
				button#submit{
					color: @theme-main;
					border: 2px solid @theme-main;
					padding: 0 75px;
					background: transparent;
					&:hover{
						background: @theme-main;
						color: #fff;
					}
				}
			}
					
		}
		.note{
			margin-top: (@baseline * 2);
			margin-bottom: @baseline;
			color: #333;
		}
	}
	.social{
		padding-top: (@baseline * 2);
		padding-bottom: (@baseline * 2);
		.social-wrap{
			display: inline-block;
			margin-bottom: @baseline;
			a.social-icon{
					border: 0;
					outline: 0;
					
					&:hover{
						text-decoration: none !important;
					}
				}
			i{
				color: #3a3a3a;
				width: (@baseline * 2);
				height: (@baseline * 2);
				line-height: (@baseline * 2);
				border-radius: 50%;
				font-size: (@basic-font-size * 2);
				cursor: pointer;
				
				&:hover{
					color: #fff;
				}
				&.fb:hover{
					background: @fb-color;
				}
				&.tw:hover{
					background: @twitter-color;
				}
				&.yt:hover{
					background: @yt-color;
				}
			}
		}
	}
	.subfooter{
		background: #0f1010;
		padding-top: 15px;
		padding-bottom: 15px;
		color: #fff;
		.subfooter-wrap{
			display: inline-block;
			a{
				display: inline;
			}
		}
	}
	
}