#landing-scene.inner.landing-scene{
	min-height: (@baseline * 14);
	

    &.service{
		background: url(../images/services-cover.jpg);
		background-attachment: fixed;
    }
    &.reel{
    	background: url(../images/reel-cover.jpg);
    	background-attachment: fixed;
    }
    &.egypt{
    	background: url(../images/egypt-cover-1.jpg);
    	background-attachment: fixed;
    }

	#top-navigation{
		bottom: auto;
		top: 0;
		.container{
			width: 100%;
			.navbar-header{
				width: auto;
			}
		}
	}
}
#loading{
	position:fixed; 
	z-index: 999999;
	background: #000;
	width:100%; 
	text-align:center; 
	top:0;
	left: 0;
	.loading-wrap{
		width: 100%;
		height: 100%;
		padding:0;
		margin: 0;
		position: relative;
		img{
			position: absolute;
			top:50%;
			left: 50%;
			width: 250px;
			height: 250px;
			margin-left: -125px;
			margin-top: -125px;
		    animation:spin 4s linear infinite;
		}
	}
}
#landing-scene{
    background: url(../images/landing-cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
 
	    #logo{
	    	position: relative;
		    top: 20%;
		    width: 50%;
		    margin-right: -5.5%;
		    /*height: 50%;*/
		    transition: all ease-out 200ms;
		    animation: width 5s ease-out forwards;
		    padding: 10px;
		}

	#top-navigation{
		z-index: 99999;
	    position: absolute;
	    bottom: (@baseline * 2);
	    width: 100%;
	    &.fixtop{
	    	position: fixed;
	    	top: 0;
	    	z-index: 1005;
	    	width: 100%;
	    	bottom: 0;
	    	height: (@baseline * 3) + 4;
	    	.container{
	    		width: 100%;
	    		nav.navbar{
	    			border-radius: 0;
	    			border-right: 0;
	    			border-left: 0;
	    			border-top: 0;
	    			background-color: @theme-black;
	    			.navbar-header{
	    				width: 200px;
	    				#header-logo{
	    					display: block;
	    				}
	    			}
	    			ul.navbar-nav{
	    				margin-left: 0;
	    			}
	    		}
	    	}
	    }
	    img#header-logo{
	    	// display: none;
	    }
	    .container{
	    	transition: all 200ms linear;
	    }
	    .navbar{
	    	background-color: fade(@theme-black, 90%);
	    	border:2px solid  @theme-main;
	    	margin-bottom: 0;
	    	.navbar-header{
	    		width: 0;
	    		overflow: hidden;
	    		transition: all 200ms linear;
	    		a{

	    			display: table-cell;
					height: (@baseline * 3) ;
					vertical-align: middle;
	    		}
	    	}
			ul.navbar-nav{
				margin-left: (@baseline * 3);
				li a{
					font-size: 16px;
					font-weight: 700;
				}
		    	&>li, &>li.open{
					&>a, &>a:focus{
						display: table-cell;
						padding: 0 (@baseline *2 / 3);
						height: (@baseline * 3) ;
						line-height: @baseline - 6;
						letter-spacing: 2px;
						text-transform: uppercase;
						vertical-align: middle;
						color: @text-white;
						background-color: transparent;
						transition: all 200ms ease-in;
						&:hover, &.active{
							color:#fff;
							background-color: @theme-main;
						}
					}

		    	}
		    }
		    #demoreel{
		    	// height: (@baseline * 2);
		    	margin-top: (@baseline / 2);
		    	font-family: @en-sec-font;
		    	font-style: italic;
		    	font-weight: 400;
		    	font-size: 18px;
		    	letter-spacing: 3px;
		    	padding: 0 @baseline;
		    	line-height: (@baseline * 2);
		    	color: #fff;
		    	background-color: @theme-main;
		    	border:0 none;
		    	text-shadow: 2px 0px 2px rgba(0, 0, 0, 0.3)
		    }
	    }
	    
	}
}
// .full-screen{
//     min-height: 380px;
// }
