@media screen and (max-width: 992px) {
	object#logo-wrap{
		display: none;
	}
	#landing-scene #top-navigation {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 10000;
	}
	#landing-scene #top-navigation .container{
		width: 100%;
	}
	#landing-scene #top-navigation .navbar ul.navbar-nav{
		float: none !important;
		display: inline-block;
		margin-left: 0;
	}
	#landing-scene #top-navigation .navbar #demoreel{
		float: none !important;
		display: inline-block;
	}
	.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
		text-align: center;
	}
	#landing-scene #top-navigation .navbar .navbar-header{
		width: auto;
	}
	#landing-scene #top-navigation .navbar .navbar-header{
		width: auto;
		float: none;
	    margin: 0 auto;
	    display: inline-block;
	}
	.services .skew-wrap .skewed, .services .skew-wrap .skewed::before, .services .skew-wrap .skewed .content{
		transform: skewX(0deg);
	}
	 .services .skew-wrap .skewed .content{
	 	color: @theme-black;
		background-color: fade(lighten(@border-color,40%), 50%);
		margin-top: (@baseline * 4);
		&>h2{
			text-align: left;
		}
		&>p{
			height: auto;
		}
	 }
	 .services h1{
	 	position: relative;
	 }
	 #landing-scene #top-navigation.fixtop{
	 	// position: relative;
	 }
	 .services .skew-wrap .skewed{
	 	&.hovered, &.unhovered{
	 		width: 100%;
	 	}
	 }
	 
}
@media screen and (max-width: 767px) {
	#landing-scene #top-navigation.fixtop .container nav.navbar .navbar-header{
		width: auto;
	}
	.navbar-collapse.in{
		overflow: visible;
	}
	.navbar-nav .open .dropdown-menu{
		position: absolute;
		background-color: #eee;
	}
	.nav > li{
		display: inline-block;
	}
	.why-egypt .jumbotron h1, .inner h1{
		line-height: 40px;
	}
}
@media screen and (max-width: 480px) {
	.services .skew-wrap .skewed .content{
		margin-top: (@baseline * 2);
	}
}