.right{
	float: right;
}
body{
	background-color: #000;
}
a:focus{
	border: 0;
	outline: 0;
}
a.see-more{
	color: @theme-main;
	font-size: 24px;
	text-decoration: underline;
}
.flex{
	display: flex;
}
.flex-item{
	align-items: stretch;
}
.navbar-toggle .icon-bar{
	background-color:  @theme-main;
}
.navbar-toggle{
	margin-top: 15px;
}
.services{
    overflow: hidden;
    position: relative;

	h1{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 500;
		width: 100%;
		text-align: center;
		margin: 0;
		padding-top: @baseline;
		text-shadow: 5px 0px 5px rgba(0, 0, 0, 0.35);
	}
    .skew-wrap{
    	display: inline-block;
    	&:hover, &:focus{
    		text-decoration: none;
    	}
    	.skewed { 
    		transition: width ease-out 200ms;
    		transition-delay: 10ms;
    		cursor: pointer;
		    height: 320px; 
		    transform:skewX(20deg);
		    
		    
		    padding: 0;
		    
		    
		    transform-origin: bottom left ;
		    overflow: hidden;
		    margin-left: -2px;
		    &:before {
			    content: "";
			    transform: skewX(-20deg); 
			    
			    
			    background-repeat: no-repeat; 
			    background-position: center bottom; 
			    background-size: cover;

			    /* new styles */
			    position: absolute;
			    
			    
			    transform-origin: top left;
			    width: 150%;  /*something ridiculously big */
			    height: 150%;  /*something ridiculously big */
			}
			.overlay{
			    background-color: rgba(0,0,0,0.7);
			    width: 102%;
			    height: 320px;
			    position: absolute;
			    left: -1%;
			    top: 0;
			}
			.content{
			    color: #fff;
			    max-height: 320px; 
			    width:65%;
			    margin: (@baseline * 5) 0 0 71px;
			    padding: (@baseline / 2);
			    transform:skewX(-20deg);
			    
			    
			    transition: all linear 200ms;
			    transition-delay: 50ms;
			    border-radius: 5px;
			    h2{
			    	font-family: @en-main-font;
			    	margin: 0;
			    	text-align: center;
			    }
			    p{
					height: 0;
					overflow: hidden;
					text-align: justify;
					
			    }
			    .see-more{
			    	color: @theme-main;
			    	clear: both;
			    	font-size: 14px;
			    	line-height: @baseline;
			    }
			}
			&.hovered{
				width: 50%;
				&>.overlay{
					animation: fade linear forwards 400ms 200ms;
				}
				&>.content{
					color: @theme-black;
					background-color: fade(lighten(@border-color,40%), 50%);
					margin-top: (@baseline * 4);
					&>h2{
						text-align: left;
					}
					&>p{
						height: auto;
					}
				}
			}
			&.unhovered{
				width: 25%;
			}
		}
	    .service-1-bg::before {
		    background-image: url('../images/service-1.jpg'); 
		}
		.service-2-bg::before {
		    background-image: url('../images/service-2.jpg'); 
		}
		.service-3-bg::before {
		    background-image: url('../images/service-3.jpg'); 
		}
    }
}
.show-reel{
	padding-bottom: (@baseline * 2);
	h1{
		margin-bottom: (@baseline * 1.5);
	}
	.reel-item-wrap{
		min-height: 325px;
		margin-bottom: @baseline;
		position: relative;
		.show-real-item{
			&.pop{
				width: 0;
				height: 0;	
				margin-top: 150px;
			}
			width: 280px;
			height: 280px;
			margin-top: 0;
			
			border-radius: 50%;
			overflow: hidden;
			display: inline-block;
			position: relative;
			background: transparent;
			&:hover{
				background:transparent;
				&>.overlay{
					opacity: 1;
				}

			}
			img{
				width: 102%;
				height: 102%;
				min-width: 308px;
				min-height: 308px;
				margin-top: -4px;
				border-radius: 50%;
				// margin: 0;
			}
			.overlay{
				position: absolute;
				top:0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				color: @theme-black;
				font-family: @en-main-font;
				z-index: 1;
				background-color: rgba(255, 255, 255, 0.5);
				opacity: 0;
				transition: opacity 400ms linear;
				border-radius: 50%;
				&:after {
					content: "";
					background: url(../images/showreel.svg);
					background-size: 100% 100%;
					background-repeat: no-repeat;			  
					opacity: 0.8;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					position: absolute;
					z-index: -1;   
				}
				h3{
					margin-top: (@baseline * 2);
					height: (@baseline * 2);
					font-family: inherit;
					width: 100%;
					text-align: center;
					padding: 0 50px;
				}
				p{
					height: 300 - (@baseline * 7);
				}
				.c2a{
					color: @theme-main;
				}
			}
		}	
	}
	
}
.why-egypt{
	.jumbotron{
		height: (@baseline * 10);
		background: url(../images/egypt-cover.jpg);
		padding-top: (@baseline * 2);
		text-align: center;
		h1{
			line-height: (@baseline * 3);
			background-color: rgba(0, 0, 0, 0.5);
			font-size: (@baseline * 2);
			padding: 0 35px 40px;
			display: inline-block;
			text-transform: none;
			letter-spacing: 3px;
		}
	}
	.row{
		position: relative;
		img#tape{
			position: absolute;
			left: 0;
			top: 0;
		}
		.egypt-topic{
				padding-top: (@baseline * 3);
			p{
				text-align: justify;
			}
			a.see-more{
				font-size: inherit;
			}
		}
	}
}
.inverted(){
	background: #fff;
	color: @theme-black;
}
.key-people{
	h1{
		width: 100%;
		text-align: center;
		padding-bottom: 30px;
	}
	
	.people-wrap{
		background: #e4e4e4;
		.people-part{
			.inverted();
			padding-top:(@baseline*2);
			padding-bottom: @baseline; 
			.media{
				margin-bottom: @baseline;
				.media-left{
					// a{
						// height: (@baseline * 6);
						// width: (@baseline * 6);
						overflow: hidden;
						// border-radius: 50%;
						img.media-object{
							max-height: 100%;
							max-width: 100%;
						}
					// }
				}
				.media-body{
					margin-top: @baseline;
					h3{
						font-family: @en-main-font;
					}
				}
			}
			hr{
				color: @theme-black;
				background: @theme-black;
				border: none;
				height: 1px;
			}
		}
	}
}
.clients{
	background: #e4e4e4;
	.clients-wrap{
		h1{
			.inverted();
			width: 100%;
			text-align: center;
			margin: 0;
		}
		.inverted();
		.row{
			padding-top: (@baseline*2);
			padding-bottom: (@baseline*2); 
			.client{
				margin: 15px;
			}
		}
	}
}
.services.inner{
	h1{
		// padding-top: 0;
	}
}
.inner{
	overflow: visible;
	padding-bottom: (@baseline * 2);
	position: relative;
	&.show-reel{
		.row, .container{
			padding-top: @baseline;
		}
	}
	h1{
		margin-top: -100px;
		padding-top: 15px;
		color: #e4e4e4;
		background-color: fade(@theme-main, 50%);
		height: 100px;
		position: relative;
		z-index: 500;
		width: 100%;
		text-align: center;
		box-shadow: -1px -4px 5px rgba(0,0,0,0.5);
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
	}
}
.service-img{
	height: (@baseline*10);
	overflow: hidden;
	width: 100%;
	margin: @baseline 0;
	background-position: center center;
	img{
		width: 100%;
	}
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	color: @theme-main;
}
.nav-tabs > li > a{
	color: @theme-gray;
}
.panel-danger{
	border-color: @theme-main;
	&>.panel-heading{
		background: @theme-main;
		color: #e4e4e4;
		a{
		width: 100%;
		display: inline-block;
		&:hover, &:focus{
			text-decoration: none;
		}
		} 
	}	
}
.panel-body{
	color: @theme-black;
}

.why-egypt.inner .row{
	position: static;

}
.gallery{
	&>div{
		margin-bottom: @baseline;
	}
}
.inner.about-us{
	.thumbnail{
		background-color: transparent;
		margin-top: (@baseline * 2);
		.caption{
			color: @theme-main;
			p{
				color: @theme-gray;
			}
		}
		
	}
}