body{
	font-family: @en-main-font;
	font-weight: 500;
	color: @text-white;
	font-size: @basic-font-size;
}
h1, h2, h3, h4{
	font-family: @en-sec-font;
	font-weight: 700;
}
h1{
	font-size: (@baseline * 2);
	line-height: (@baseline * 2);
	// margin-top: (@baseline * 2);
	// text-transform: uppercase;
}
h2{
	font-size: 24px;
	line-height: @baseline;
}