/* ==========================================================================
   Variables
   ========================================================================== */

/* Typography variables */
@basic-font-size: 16px;
@baseline: (@basic-font-size * 1.5);

/* theme colors */
@theme-gray: #9c9c9c;
@theme-main: #c92432;
@theme-black: #292929;

/* text colors */
@border-color: lighten(@theme-black, 20%);
@text-white: lighten(@theme-gray, 10%);

/* social colors */
@fb-color: #425f9c;
@twitter-color: #007EAC;
@yt-color: #DE2826;

/* fonts */

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700|Vollkorn:400italic,700);

@en-main-font: 'Ubuntu', sans-serif, "Helvetica Neue",Helvetica;
@en-sec-font: 'Vollkorn', serif, "Helvetica Neue",Helvetica;